@import url("./fonts.css");

:root {
  --color-header: #00252e;
  --color-main: #808e9a;
  --color-footer: #ffffff;
  --color-h2: #00252e;
  --color-btn-background: #ff52c1;
  --color-btn-background-active: #FF9ADB;
  --color-btn-header-text-active: #808E9A;
  --color-footer-background: #00252e;

  --ff-base: "OpenSans", sans-serif;
  --ff-accent: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-base);
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  font-family: var(--ff-base);
  font-weight: 700;
  cursor: pointer;
}

h1,
h2 {
  font-family: var(--ff-accent);
  font-weight: 600;
  color: var(--color-h2);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  padding-block: 70px;
  background: url("/images/hero-bg.svg") no-repeat center / cover;
  color: var(--color-header);
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__btn {
  background-color: #fff;
  font-size: 14px;
  border-radius: 24px;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  padding-inline: 65px;
  padding-block: 15px;

  transition: color 0.3s ease;
}

.nav__btn:hover {
  color: var(--color-btn-header-text-active);
}

.header__hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
  padding-block: 70px;
}

.hero__content {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero__title {
  font-size: 40px;
}

.hero__content {
  padding-right: 15px;
}

.hero__btn {
  max-width: 280px;
  background-color: var(--color-btn-background);
  color: #ffffff;
  font-size: 14px;
  white-space: nowrap;
  border-radius: 24px;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  padding-block: 18px;

  transition: background-color 0.3s ease;
}

.hero__btn:hover {
  background-color: var(--color-btn-background-active);
}

.hero__img-windows {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-block: 160px;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
}

.card__content {
  max-width: 500px;
}

.card__title {
  font-size: 28px;
}

.card__information {
  color: var(--color-main);
}

.card__image {
  height: auto;
  padding-block: 70px;
}

.proposition {
  position: relative;
  transform: translateY(33%);
  max-width: 800px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
  background-color: var(--color-footer);
}

.proposition__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 52px;
  padding-inline: 130px;
}

.proposition__title {
  font-size: 32px;
  line-height: 1.88;
  white-space: nowrap;
}

.propostion__btn {
  background-color: var(--color-btn-background);
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
  border-radius: 40px;
  box-shadow: 0 6px 13px 0 rgba(0, 37, 46, 0.22);
  padding-block: 25px;
  padding-inline: 100px;

  transition: background-color 0.3s ease;
}

.propostion__btn:hover {
  background-color: var(--color-btn-background-active);
}

.footer {
  background-color: var(--color-footer-background);
  color: var(--color-footer);
  font-size: 14px;
  line-height: 1.8;
}

.footer a {
  color: var(--color-footer);
}

.footer__container {
  max-width: 1240px;
  margin: 0 auto;
  padding-block: 144px 64px;
}

.footer__logo-img {
  filter: brightness(0) invert(1);
}

.footer__grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-content: center;
  padding-top: 32px;
}

.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.path-icon {
  position: relative;
  top: -20px;
  left: 2px;
}

.footer__contacts-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer__nav-link:hover {
  text-decoration: underline;
}

.footer__socials-list {
  display: flex;
  gap: 13px;
}

.footer__socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: 2px solid #dfe4f0;
  border-radius: 50%;

  color: #fff;
  transition: all 0.3s ease;
}

.footer__socials-link:hover {
  color: var(--color-btn-background);
  border-color: var(--color-btn-background);
}

.footer__socials-icon {
  fill: currentColor;
}

.footer__copyright {
  font-family: var(--ff-accent);
  font-size: 14px;
  width: 100%;
  text-align: right;
  margin-top: -25px;
  margin-left: 50px;
}
